@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Aplicamos al "Selector Universal" un RESET para reiniciar valores por defecto*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sarabun", serif;
    font-weight: 400;
    background-color: #edf7fd;
}

/**-------------------------------------------------------*/
/**-------------------Estilos del HEADER------------------*/
/**-------------------------------------------------------*/

header {
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0px 4px 14px -4px rgba(73,97,65,0.5);
    -webkit-box-shadow: 0px 4px 14px -4px rgba(73,97,65,0.5);
    -moz-box-shadow: 0px 4px 14px -4px rgba(73,97,65,0.5);
}

/*Cambia el color a la navbar de Bootstrap*/
.nav-fondo {
    background-color: #d8f7cb;
}

/*Disminuye el tamaño del contenedor del logo de la navbar de Bootstrap*/
.navbar-brand {
    width: 46%;
}

.logo {
    width: 50%;
}

/*Cambia el ancho del "ul" del navbar para que ocupe el 100% del ancho
del contendor de Bootstrap*/
.navbar-nav {
    width: 100%; /*! OJO: cuando pasa a menu hamburguesa hay que ajustar esta propiedad*/
}

/*Cambia el color del hover de los links de la navbar de Bootstrap*/
.nav-link:hover {
    color: #1085b6;
}

/*Cambia el color del link "activo" de la navbar de Bootstrap*/
.active {
    color: #0a78ab !important;
}

/*Cambiar el color del borde del botón de menú hamburguesa de Bootstrap*/
.navbar-toggler {
    border: 1px solid #2089b6f7;
}

/**-------------------------------------------------------*/
/**-------------------Estilos Pág. INDEX------------------*/
/**-------------------------------------------------------*/

/*?----------------------Sección HERO---------------------*/

.hero {
    height: calc(100vh - 120px);
    text-align: center;
    background-image: url("../img/hero-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-info {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.648);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero-info h1 {
    font-size: 60px;
    color: white;
    padding: 10px;
    border-bottom: 4px solid white;
}

.hero-info p {
    width: 75%;
    font-size: 20px;
    color: white;
    padding: 20px;
    margin-bottom: 5px;

}

.hero-botones {
    display: flex;
    justify-content: center;
}

/*Cambio de los colores de botones de Bootstrap y su hover*/
.btn-primary {
    margin: 10px;
    background-color: #00b400;
    color: white;
    border-radius: 5px;
    border: 1px solid #00b400;
}

.btn-primary:hover {
    background-color: #0b750b;
    border: 1px solid #0b750b;
}

.btn-outline-primary {
    margin: 10px;
    border: 1px solid #33e733;
    border-radius: 5px;
    color: #33e733;
}
.btn-outline-primary:hover {
    background-color: #00b400;
    border: 1px solid #00b400;
    color: white;
}

.btn-outline-info {
    margin: 10px;
    border: 1px solid #0278ab;
    border-radius: 5px;
    color: #0278ab;
}

.btn-outline-info:hover {
    background-color: #075170;
    border: 1px solid #075170;
    color: white;
}

/*?----------------Sección ¿Quiénes somos?----------------*/
.quienes-somos {
    margin: 100px 30px 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quienes-somos div{
    padding: 20px;
    width: 55%;
}

.quienes-somos div h2 {
    width: fit-content;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    border-bottom: 4px solid #070707;
}

.texto-verde {
    color: #2b8b12;
}

.texto-azul {
    color: #0a78ab;
}

.quienes-somos div p {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 20px;
}

.quienes-somos img {
    width: 40%;
    border-radius: 5px;
}


/*?----Sección Salud Ocupacional y Gestión de Procesos----*/
.salud-ocu-gestion-proc {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.salud-ocu-gestion-proc h2 {
    width: fit-content;
    padding: 0 0 20px 0;
    margin: 40px 40px 0 40px;
    font-size: 40px;
    text-align: center;
    /*border-top: 4px solid #0f7db0;
    border-bottom: 4px solid #329d18;*/
    border-bottom: 4px solid #000000;
}

.areas-trabajo {
    height: 400px;
    margin: 30px 0px 30px 0px;
    display: flex;
}

/*verde: #00C300 azul: #00A0E3*/
.salud-ocu-gestion-proc .areas-trabajo .salud-ocupacional {
    width: 50%;
    background-color: #00C300;
    background-image: url("../img/salud-ocupacional-corta.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.salud-ocu-gestion-proc .areas-trabajo .salud-ocupacional ul {
    width: 75%;
    padding: 20px;
    margin: 30px;
    background-color: #0c780ca1;
}

.salud-ocu-gestion-proc .areas-trabajo .salud-ocupacional ul li {
    font-size: 20px;
    margin: 20px;
    color: white;
}


.salud-ocu-gestion-proc .areas-trabajo .gestion-procesos {
    width: 50%;
    background-color: #00A0E3;
    background-image: url("../img/gestion-procesos-corta.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.salud-ocu-gestion-proc .areas-trabajo .gestion-procesos ul {
    width: 75%;
    padding: 20px;
    margin: 20px;
    background-color: #03658f84;
}

.salud-ocu-gestion-proc .areas-trabajo .gestion-procesos ul li {
    font-size: 20px;
    margin: 15px;
    color: white;
}

/*?--------------------Sección Servicios------------------*/

.servicios {
    margin: 50px 30px 50px 30px;
    padding: 20px;
}

.servicios h2 {
    width: fit-content;
    margin: 10px 10px 10px 40px;
    padding: 10px;
    font-size: 40px;
    border-bottom: 4px solid #070707;
}

.servicios h3 {
    font-size: 30px;
}

.servicios .servicios-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-servicios {
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.grid-servicios-item {
    width: 100%;
    height: 100%;
}

.grid-servicios-item:hover {
    background-color: #00c30052;
}

.grid-servicios-item a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-servicios-item a img {
    width: auto;
    height: 60%;
}

.grid-servicios-item h3 {
    height: 40%;
    color: #122027;

}

/*?--------------------Sección Personal-------------------*/
.personal {
    margin-top: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personal h2 {
    width: fit-content;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    border-bottom: 4px solid #070707;
}

.card {
    margin: 0 .5em;
    background-color: #a0f5a0;
    /*width: 1em auto;*/
}

.card:hover {
    top: -6px;
    background-color: #e0f5e0;
    box-shadow: 0px 4px 14px -4px rgba(73, 97, 65, 0.571);
    -webkit-box-shadow: 0px 4px 14px -4px rgba(73, 97, 65, 0.571);
    -moz-box-shadow: 0px 4px 14px -4px rgba(73, 97, 65, 0.571);
}

.card-body {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-title {
    padding: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #0a78ab;;
    color: #122027;
    font-size: 30px;
}

.card-subtitle {
    padding: 5px;
    margin-bottom: 15px;
    color: rgb(68, 86, 85);
    font-size: 20px;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.image-wrapper {
    width: fit-content;
    height: 70%;
    display: flex;
    justify-content: center;
    
}

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.375rem 0.375rem 0rem 0rem;
}

@media screen and (min-width: 841px) {
        
    .card {
        width: calc(70%/3);
    }

    .image-wrapper {
        /*height: 16vw;*/
        width: auto;
    }
  
}

@media screen and (max-width: 840px) {

    .card {
        width: calc(70%/2);
    }
    .card:nth-child(3) {
        display: none;
    }

    .image-wrapper {
        /*height: 16vw;*/
        width: auto;
    }
}

@media screen and (max-width: 615px) {

    .card {
        width: calc(70%/1.3);
    }
    .card:not(:first-child) {
        display: none;
    }

    .image-wrapper {
        /*height: 36vw;*/
        width: auto;
    }
}

.carousel-inner {
    margin: 30px 0px 30px 0px;
}

/*?--------------------Sección Contácto------------------*/

.contacto {
    padding: 20px;
}

.contacto-contenedor {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacto-contenedor iframe {
    border-radius: 5px;
    margin: 40px
}

.contacto-contenedor .contacto-info {
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.contacto-contenedor .contacto-info h2 {
    padding: 10px;
    margin: 10px 10px 15px 10px;
    text-align:left;
    border-bottom: 3px solid #000000;
}

.contacto-contenedor .contacto-info p {
    padding: 0px 10px 0 10px;
}

.contacto-contenedor .contacto-info span{
    font-weight: bold;
    line-height: 3;
}

/**-------------------------------------------------------*/
/**-------------Estilos Pág. ¿QUIÉNES SOMOS?--------------*/
/**-------------------------------------------------------*/

.banner {
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner-img-quienes-somos {
    background-image: url("../img/quienes-somos-banner.jpg");
}

.quienes-somos-instalaciones img {
    height: 300px;
    width: auto;
}

.grid-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    gap: 15px;
    margin: 40px;
    /*padding: 20px;*/ 
}

.grid-galeria div {
    position: relative;
}

.grid-galeria div h3 {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.555);
    width: 100%;
    color: white;
    padding: 10px;
}

.grid-galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria-img-1 {
    grid-column: span 2;
}

/*.galeria-img-1 img {
    border-top-left-radius: 10px;
}*/

.galeria-img-2 {
    grid-row: span 2;
}

.galeria-img-3 {
    grid-row: span 2;
}



/**-------------------------------------------------------*/
/**----------------Estilos Pág. SERVICIOS-----------------*/
/**-------------------------------------------------------*/
.banner-img-servicios {
    background-image: url("../img/servicios-banner.jpg");
}

.servicios div a {
    text-decoration: none;
    color: black;
}


/**-------------------------------------------------------*/
/**-----------------Estilos Pág. PERSONAL-----------------*/
/**-------------------------------------------------------*/
.banner-img-personal {
    background-image: url("../img/personal-banner.jpg");
}


/**-------------------------------------------------------*/
/**-----------------Estilos Pág. CONTACTO-----------------*/
/**-------------------------------------------------------*/
.banner-img-contacto {
    background-image: url("../img/contacto-banner.jpg");
}

.contacto-mapa-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 30px 100px 30px;
    padding: 10px;
}

.contacto-mapa-form h2 {
    width: fit-content;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    border-bottom: 4px solid #070707;
}

.mapa {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapa iframe {
    margin: 10px;
}

.formulario {
    width: 40%;
    background-color: #009fe317;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #00A0E3;
    border-radius: 5px;
}

.formulario form {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

/*Cambia el ancho que ocupan los "divs" contenedores de las etiquetas
y los inputs de Bootstrap*/
form div {
    width: 80%;
}

/*Cambia el color del "focus" de los inputs de Bootstrap*/
.form-control:focus {
    border-color: #00b400;
    box-shadow: 0 0 0 0.25rem #029f024f;
}

.form-botones {
    display: flex;
    justify-content: center;
}

/*Cambia los márgenes de los botones de Bootstrap*/
.form-botones button {
    margin: 0px 10px 0px 10px;
}

/**-------------------------------------------------------*/
/**-------------------Estilos del FOOTER------------------*/
/**-------------------------------------------------------*/

footer {
    background-color: #c0ddea;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-info div {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer-info div img {
    margin-right: 10px;
    width: 30px;
}

.footer-redes-sociales {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-redes-sociales h2 {
    margin-bottom: 20px;
}

.footer-redes-sociales div {
    width: 140px;
    display: flex;
    justify-content: space-between;
}

.footer-redes-sociales div a img {
    width: 40px;
}