/**-------------------------------------------------------------------*/
/**------------------- Estilos de pág. SERVICIOS ---------------------*/
/**-------------------------------------------------------------------*/

.banner-img-servicios {
    background-image: url(nth($list: $imagenes-hero-banner, $n:3 ));
}

.contenedor-servicios {
    .servicio-contenedor {
        height: 115vh;
        margin: 20px 20px 20px 20px;
        background-image: url("../img/encabezado-servicio-procesos.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        @include flexbox-propiedades(flex,row,center,end);

        img {

            width: 330px;
            margin: 25px;
            
        }
        
        div {

            width: 60%;
            padding: 40px;
    
            h2 {
                padding: 10px 0px 10px 0px;
                text-align: left;
                font-size: 35px;
            }
    
            p {
                text-align: left;
                text-indent: 1.5em;
            }
        }

        &:nth-child(-n +2) {
            background-image: url("../img/encabezado-servicio-salud.png");
        }

        &:last-child {
            background-image: url("../img/encabezado-servicios-salud-procesos.png");
            margin-bottom: 100px;
        }
    }
}
