/**-------------------------------------------------------------------*/
/**------------------- Estilos de pág. SERVICIOS ---------------------*/
/**-------------------------------------------------------------------*/

.banner-img-servicios {
    background-image: url(nth($list: $imagenes-hero-banner, $n:3 ));
}

.contenedor-servicios {
    .servicio-contenedor {
        height: 110vh;
        margin: 20px;
        @include flexbox-propiedades(flex,row,center,center);
        
        img {
            width: 330px;
            margin: 25px;
            
        }
    
        div {
            width: 60%;
            padding: 40px;
    
            h2 {
                padding: 10px 0px 10px 0px;
                text-align: left;
                font-size: 35px;
            }
    
            p {
                text-align: left;
                text-indent: 1.5em;
            }
        }
    }
}
