/*! ********************************************************************/
/*! *************************** MEDIA QUERIES **************************/
/*! ********************************************************************/

@media screen and (max-width: 1150px) {

    /*?---------- CONTACTO ----------*/
    .contacto-mapa-form .formulario {
        width: 420px;
    }
}

@media screen and (max-width: 1075px) {

    /*?---------- INDEX: SECCIÓN ÁREAS DE TRABAJO ----------*/
    .salud-ocu-gestion-proc h2 {
        margin: 40px 60px 0 60px;
        font-size: 35px;
    }

    .salud-ocu-gestion-proc div {
        height: 500px;
    }

    .salud-ocu-gestion-proc div .salud-ocupacional {
        justify-content: center;
    }

    .salud-ocu-gestion-proc div .salud-ocupacional ul {
        width: 80%;
    }

    .salud-ocu-gestion-proc div .gestion-procesos {
        justify-content: center;
    }

    .salud-ocu-gestion-proc div .gestion-procesos ul {
        width: 80%;
    }

    /*?---------- INDEX: SECCIÓN SERVICIOS ----------*/

    .servicios .servicios-contenedor .grid-servicios .grid-servicios-item {
        width: 90%;
        height: 90%;
    }

    .servicios .servicios-contenedor .grid-servicios .grid-servicios-item a img {
        height: 60%;
    }

    .servicios .servicios-contenedor .grid-servicios .grid-servicios-item a h3 {
        font-size: 25px;

    }

    /*?---------- INDEX: SECCIÓN CARRUSEL PERSONAL ----------*/
    .card-title {
        font-size: 26px;
    }
}

@media screen and (max-width: 990px) {
    /*?----------PÁGINA SERVICIOS ----------*/
    .contenedor-servicios .servicio-contenedor {
        height: auto;
        align-items: center;
        margin: 50px 20px 50px 20px;
        background-image: none;

        div {
            h2 {
                border-bottom: 4px solid #3f9ac1;
            }
        }
    
        &:nth-child(-n +2) {
        background-image: none;

            div {
                h2 {
                    border-bottom: 4px solid #28c728;
                }
            }
        }
    }
}


@media screen and (max-width: 970px) {

    /*?----------INDEX: SERVICIOS GRID ----------*/
    .servicios .servicios-contenedor .grid-servicios {
        grid-template-columns: repeat(2, 1fr);
    }

    /*?---------- INDEX: CARRUSEL PERSONAL ----------*/
    .card {
        width: calc(70%/2);

        &:nth-child(3) {
            display: none;
        }
    }

    .card .image-wrapper {
        /*height: 16vw;*/
        width: auto;
    }

    /*?---------- INDEX: SECCIÓN CONTACTO ----------*/
    .contacto div h2 {
        font-size: 35px;
    }

    /*?----------PÁGINA CONTACTO ----------*/
    .contacto-mapa-form {
        @include flexbox-propiedades(flex, column, space-around, center);
    }

    .contacto-mapa-form .mapa iframe {
        width: 550px;
        height: 450px;
    }

    .contacto-mapa-form .formulario {
        width: 550px;
        margin-top: 60px;
    }

    .contacto-mapa-form .formulario h2 {
        text-align: center;
    }

    /*?---------- FOOTER ----------*/

    footer .footer-redes-sociales h2 {
        font-size: 25px;
    }

    footer .footer-redes-sociales div a i {
        font-size: 30px;
    }

}

@media screen and (max-width: 940px) {

    /*?---------- INDEX: SECCIÓN CONTACTO ----------*/
    .contacto div h2 {
        font-size: 32px;
    }

}

@media screen and (max-width: 876px) {
    .banner {
        height: 350px;
    }

    /*?---------- INDEX: SECCIÓN CONTACTO ----------*/
    .contacto div h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 855px) {

    /*?----------INDEX: SECCIÓN QUIENES SOMOS ----------*/
    .quienes-somos {
        margin: 40px 30px 40px 30px;
        flex-direction: column;
        padding: 20px;
    }

    .quienes-somos div {
        width: 100%;
        text-align: center;
        @include flexbox-propiedades(flex, column, center, center);
    }

    .quienes-somos div h2 {
        width: 70%;
        margin: 0 15% 0 15%;
    }

    .quienes-somos div a {
        width: 40%;
        margin: 0 30% 0 30%;
    }

    .quienes-somos img {
        width: 100%;
        margin-top: 40px;
    }

    /*?----------INDEX: SECCIÓN ÁREAS DE TRABAJO ----------*/
    .salud-ocu-gestion-proc {
        margin-bottom: 100px;
        padding-bottom: 100px;
    }

    .salud-ocu-gestion-proc div {
        flex-direction: column;
    }

    .salud-ocu-gestion-proc div .salud-ocupacional {
        width: 100%;
        justify-content: right;
    }

    .salud-ocu-gestion-proc div .gestion-procesos {
        width: 100%;
        justify-content: left;
    }

    /*?----------INDEX: SECCIÓN SERVICIOS GRID ----------*/
    .servicios {
        margin: 40px 0 40px 0;
    }
    
    .servicios h2 {
        width: 70%;
        margin: 10px 15% 10px 15%;
        text-align: center;
    }

    .servicios .servicios-contenedor .grid-servicios {
        grid-template-columns: 1fr;
    }

    .servicios .servicios-contenedor .grid-servicios .grid-servicios-item a img {
        height: 70%;
    }

    .servicios .servicios-contenedor .grid-servicios .grid-servicios-item a h3 {
        width: 60%;
    }

    /*?---------- INDEX: SECCIÓN CARRUSEL PERSONAL ----------*/
    .personal h2 {
        width: 100%;
        text-align: center;
    }

    .card {
        width: 60%;

        &:not(:first-child) {
            display: none;
        }
    }

    /*?---------- INDEX: SECCIÓN CONTACTO ----------*/
    .contacto {
        flex-direction: column;

    }

    .contacto iframe {
        width: 550px;
        height: 450px;
    }

    .contacto div h2 {
        margin: 0 10px 15px 10px;
        text-align: center;
        font-size: 35px;
    }

    .contacto div p {
        width: 100%;
        text-align: center;
    }

    /*?---------- PÁGINA ¿QUIÉNES SOMOS? ----------*/
    .contenedor-quienes-somos {
        .quienes-somos {
            div {
                margin: 40px 0 0 0;
            }

            &:nth-child(1) {
                flex-direction: column-reverse;
            }
        }

        .quienes-somos img {
            width: 80%;
        }
    }

    .instalaciones .grid-galeria {
        grid-template-columns: repeat(2, 1fr);
    }

    .instalaciones .grid-galeria .galeria-img-1 {
        grid-column: span 1;
    }

    .instalaciones .grid-galeria .galeria-img-2 {
        grid-row: span 1;
    }

    .instalaciones .grid-galeria .galeria-img-3 {
        grid-row: span 1;
    }


    /*?---------- PÁGINA SERVICIOS ----------*/
    .contenedor-servicios {
        .servicio-contenedor {
            flex-direction: column;

            div {
                width: 70%;

                h2 {
                    width: 100%;
                    text-align: center;
                }

                p {
                    text-align: justify;
                }
            }

            &:nth-child(odd) {
                flex-direction: column-reverse;
            }
        }
    }



    /*?---------- PÁGINA PERSONAL ----------*/

    .personal-medico .contenedor-cards .card-informativa-medico,
    .personal-procesos .contenedor-cards .card-informativa-procesos {
        flex-direction: column;
        align-items: center;

        &:nth-child(even) {
            flex-direction: column-reverse;

            .card-contenido-medico .redes-1-start,
            .card-contenido-procesos .redes-2-start {
                justify-content: end;
            }
        }
    }

    .personal-procesos .contenedor-cards .card-informativa-procesos img,
    .personal-medico .contenedor-cards .card-informativa-medico img {
        width: 400px;
    }

    /*?---------- PÁGINA CONTACTO ----------*/

    .banner-img-contacto {
        background-image: url("../img/contacto-banner-pequeño.jpg");
    }

    .contacto-mapa-form .mapa iframe {
        width: 550px;
        height: 450px;
    }

    .contacto-mapa-form .formulario {
        width: 550px;
        margin-top: 60px;
    }

    .contacto-mapa-form .formulario h2 {
        text-align: center;
    }

}

@media screen and (max-width: 720px) {
    .banner {
        height: calc(100vh - 120px);
    }

    .banner-info h1 {
        font-size: 50px;
    }

    /*?---------- PÁGINA QUIENES SOMOS ----------*/
    .instalaciones h2 {
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }

    .instalaciones .grid-galeria {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (max-width: 675px) {

    body h2 {
        font-size: 35px;
    }

    /*? INDEX: SECCIÓN HERO */

    .hero {
        height: calc(100vh - 75px);
    }

    /*?----------INDEX: SECCIÓN QUIENES SOMOS ----------*/
    .quienes-somos div h2 {
        width: fit-content;
        margin: 0 10% 0 10%;
    }

    .quienes-somos img {
        width: 75%;
    }

    /*?----------INDEX: SECCIÓN ÁREAS DE TRABAJO ----------*/
    .salud-ocu-gestion-proc {
        margin-bottom: 200px;
    }

    .salud-ocu-gestion-proc  h2 {
        border-bottom: none;
    }

    .salud-ocu-gestion-proc div .salud-ocupacional {
        justify-content: center;
    }

    .salud-ocu-gestion-proc div .gestion-procesos {
        justify-content: center;
    }

    /*?---------- INDEX: SECCIÓN SERVICIOS ----------*/
    .servicios h2 {
        font-size: 35px;
    }

    /*?---------- INDEX: SECCIÓN CARRUSEL PERSONAL ----------*/
    .personal h2 {
        width: fit-content;
        font-size: 35px;
    }

    /*?---------- INDEX: SECCIÓN CONTACTO ----------*/

    .contacto iframe {
        width: 450px;
        height: 350px;
    }

    .contacto div h2 {
        font-size: 35px;
    }


    .contenedor-quienes-somos {
        .quienes-somos {
            div {
                margin: 50px 0 0 0;
            }
        }
    }

    /*?---------- PÁGINA SERVICIOS ----------*/
    .contenedor-servicios {
        .servicio-contenedor {
            flex-direction: column;

            img {
                width: 300px;
            }

            div {
                width: 80%;
            }
        }
    }


    /*?---------- PÁGINA CONTACTO ----------*/
    .banner {
        height: calc(100vh - 95px);
    }

    .banner-info h1 {
        font-size: 50px;
    }

    .contacto-mapa-form {
        margin: 50px 30px 80px 30px;
    }

    .contacto-mapa-form .mapa iframe {
        width: 450px;
        height: 350px;
    }

    .contacto-mapa-form .formulario {
        width: 450px;
    }

    /*?---------- FOOTER ----------*/

    footer .footer-info img {
        width: 180px;
    }

    footer .footer-info div p {
        font-size: 15px;
    }

    footer .footer-redes-sociales h2 {
        font-size: 20px;
    }

    footer .footer-redes-sociales div a i {
        font-size: 25px;
    }

}

@media screen and (max-width: 625px) {

    .banner {
        height: calc(100vh - 85px);
    }

    /*?---------- INDEX: SECCIÓN SERVICIOS ----------*/
    .servicios {
        margin-top: 250px;
    }

    /*?---------- INDEX: SECCIÓN CONTACTO ----------*/
    .contacto div h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 550px) {

    body p {
        font-size: 20px;
    }

    /*? INDEX: SECCIÓN HERO */

    .hero {
        height: calc(100vh - 60px);
    }

    .banner-info p {
        font-size: 16px;
    }

    /*?----------INDEX: SECCIÓN QUIENES SOMOS ----------*/
    .quienes-somos div {
        text-align: center;
    }

    .quienes-somos div a {
        width: 50%;
        margin: 0 25% 0 25%;
    }

    /*?----------INDEX: SECCIÓN SERVICIOS GRID ----------*/
    .servicios {
        margin-top: 300px;
    }
    .servicios .servicios-contenedor .grid-servicios .grid-servicios-item a img {
        height: 60%;
    }

    .servicios .servicios-contenedor .grid-servicios .grid-servicios-item h3 {
        width: 100%;
        font-size: 20px;
    }

    /*?---------- INDEX: SECCIÓN CARRUSEL PERSONAL ----------*/

    .card-title {
        font-size: 20px;
    }

    .card-subtitle {
        font-size: 16px;
    }

    /*?---------- INDEX: SECCIÓN CONTACTO ----------*/

    .contacto iframe {
        width: 350px;
        height: 250px;
    }

    .contacto div {
        width: 90%;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    /*?---------- PÁGINA SERVICIOS ----------*/
    .contenedor-servicios {
        .servicio-contenedor {
            flex-direction: column;

            img {
                width: 250px;
            }

            div {
                h2 {
                    font-size: 30px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }

    /*?---------- PÁGINA PERSONAL ----------*/
    .personal-procesos,
    .personal-medico {
        text-align: center;
    }

    .personal-procesos .directorio-info-2 h2,
    .personal-medico .directorio-info-1 h2 {
        width: 100%;
        text-align: center;
    }

    .personal-procesos .contenedor-cards .card-informativa-procesos .card-contenido-procesos,
    .personal-medico .contenedor-cards .card-informativa-medico .card-contenido-medico {
        align-items: center;
        text-align: justify;
    }

    .personal-procesos .contenedor-cards .card-informativa-procesos img,
    .personal-medico .contenedor-cards .card-informativa-medico img {
        width: 350px;
    }

    /*?---------- PÁGINA CONTACTO ----------*/

    .banner-info h1 {
        font-size: 40px;
    }

    .contacto-mapa-form .mapa h2 {
        font-size: 30px;
    }

    .contacto-mapa-form .mapa iframe {
        width: 350px;
        height: 250px;
    }

    .contacto-mapa-form .formulario {
        width: 350px;
    }

    .contacto-mapa-form .formulario h2 {
        font-size: 30px;
    }

    /*?---------- FOOTER ----------*/
    footer {
        flex-direction: column;
        align-items: center;
    }

    footer .footer-info {
        align-items: center;
    }

    footer .footer-info div {
        text-align: center;
    }

    footer .footer-redes-sociales {
        text-align: center;
    }

    footer .footer-redes-sociales h2 {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {

    /*?----------INDEX: SECCIÓN QUIENES SOMOS ----------*/
    .quienes-somos div h2 {
        width: 100%;
    }

    /*?---------- INDEX: SECCIÓN ÁREAS DE TRABAJO ----------*/
    .salud-ocu-gestion-proc {
        margin-bottom: 360px;
    }
}

@media screen and (max-width: 460px) {

    /*?----------INDEX: SECCIÓN QUIENES SOMOS ----------*/

    .quienes-somos div h2 {
        font-size: 30px;
    }

    .quienes-somos div a {
        width: 80%;
        margin: 0 10% 0 10%;
    }

    /*?---------- INDEX: SECCIÓN CONTACTO ----------*/

    .contacto iframe {
        width: 250px;
        height: 150px;
    }

    /*?----------INDEX: SECCIÓN SERVICIOS GRID ----------*/

    .servicios h2 {
        font-size: 30px;
    }

    .servicios .servicios-contenedor .grid-servicios .grid-servicios-item a h3 {
        width: 100%;
        font-size: 25px;
    }

    /*?---------- INDEX: SECCIÓN CARRUSEL PERSONAL ----------*/
    .personal {
        margin-top: 20px;
    }
    
    .personal h2 {
        width: fit-content;
        font-size: 30px;
    }

    /*?----------PÁGINA QUIENES SOMOS ----------*/
    .instalaciones h2 {
        font-size: 30px;
    }

    /*?---------- PÁGINA SERVICIOS ----------*/
    .contenedor-servicios {
        .servicio-contenedor {
            flex-direction: column;

            img {
                width: 230px;
            }
        }
    }

    /*?---------- PÁGINA PERSONAL ----------*/

    .personal-procesos .contenedor-cards .card-informativa-procesos img,
    .personal-medico .contenedor-cards .card-informativa-medico img {
        width: 300px;
    }

    /*?---------- PÁGINA CONTACTO ----------*/

    .banner-info h1 {
        font-size: 35px;
    }

    .contacto-mapa-form .mapa h2 {
        font-size: 25px;
    }

    .contacto-mapa-form .mapa iframe {
        width: 300px;
        height: 300px;
    }

    .contacto-mapa-form .formulario {
        width: 300px;
    }

    .contacto-mapa-form .formulario h2 {
        font-size: 25px;
    }

    /*?---------- FOOTER ----------*/
    footer .footer-info img {
        width: 150px;
    }

    footer .footer-info div p {
        font-size: 12px;
    }

    footer .footer-redes-sociales h2 {
        font-size: 20px;
    }

    footer .footer-redes-sociales div a i {
        font-size: 20px;
    }
}

@media screen and (max-width: 445px) {
    .banner {
        height: calc(100vh - 75px);
    }

    /*?---------- INDEX: SECCIÓN ÁREAS DE TRABAJO ----------*/
    .salud-ocu-gestion-proc {
        margin-bottom: 400px;
    }

    /*?----------INDEX: SECCIÓN SERVICIOS GRID ----------*/
    .servicios {
        margin-top: 200px;
    }
    
    .servicios h2{
        font-size: 30px;
    }

    /*?---------- PÁGINA SERVICIOS ----------*/
    .contenedor-servicios {
        .servicio-contenedor {

            img {
                width: 200px;
            }

            div {
                padding: 20px;

                h2 {
                    font-size: 25px;
                }
            }
        }
    }

    /*?---------- PÁGINA PERSONAL ----------*/

    .personal-procesos .contenedor-cards .card-informativa-procesos img,
    .personal-medico .contenedor-cards .card-informativa-medico img {
        width: 260px;
    }

    .personal-procesos .contenedor-cards .card-informativa-procesos .card-contenido-procesos p,
    .personal-medico .contenedor-cards .card-informativa-medico .card-contenido-medico p {
        font-size: 18px;
    }

    .card-subtitle {
        text-align: center;
    }
    
}

@media screen and (max-width: 400px) {
    /*?---------- INDEX: SECCIÓN ÁREAS DE TRABAJO  ----------*/
    .salud-ocu-gestion-proc {
        margin-bottom: 450px;
    }
}

@media screen and (max-width: 385px) {
    /*?---------- INDEX: SECCIÓN HERO ----------*/

    .banner-info h1 {
        font-size: 30px;
    }

    /*?----------INDEX: SECCIÓN QUIENES SOMOS ----------*/
    .quienes-somos div h2 {
        width: 100%;
        margin: 0;
        font-size: 25px;
    }

    .quienes-somos div a {
        width: 80%;
        margin: 0 10% 0 10%;
    }

    /*?----------INDEX: SECCIÓN ÁREA DE TRABAJO ----------*/
    .salud-ocu-gestion-proc {
        margin-bottom: 200px;
    }

    .salud-ocu-gestion-proc h2 {
        font-size: 25px;
    }

    .salud-ocu-gestion-proc div .salud-ocupacional ul li {
        font-size: 15px;
    }

    .salud-ocu-gestion-proc div .gestion-procesos ul li {
        font-size: 15px;
    }

    /*?----------INDEX: SECCIÓN SERVICIOS GRID ----------*/
    .servicios h2 {
        font-size: 27px;
    }

    .servicios .servicios-contenedor .grid-servicios .grid-servicios-item a h3 {
        width: 100%;
        font-size: 22px;
    }

    /*?---------- INDEX: SECCIÓN CONTACTO ----------*/
    .contacto {
        padding: 40px 40px 60px 40px;
    }

    .contacto iframe {
        width: 250px;
        height: 200px;
    }

    .contacto div {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    /*?---------- PÁGINA PERSONAL ----------*/

    .personal-medico .directorio-info-1 h2,
    .personal-procesos .directorio-info-2 h2 {
        font-size: 30px;
    }

    .personal-medico .directorio-info-1 p,
    .personal-procesos .directorio-info-2 p {
        font-size: 16px;
    }

    .personal-procesos .contenedor-cards .card-informativa-procesos img,
    .personal-medico .contenedor-cards .card-informativa-medico img {
        width: 230px;
    }

    .personal-procesos .contenedor-cards .card-informativa-procesos .card-contenido-procesos h3,
    .personal-medico .contenedor-cards .card-informativa-medico .card-contenido-medico h3 {
        font-size: 25px;
        text-align: center;
    }

    .personal-procesos .contenedor-cards .card-informativa-procesos .card-contenido-procesos p,
    .personal-medico .contenedor-cards .card-informativa-medico .card-contenido-medico p {
        font-size: 16px;
    }

    /*?---------- PÁGINA CONTACTO ----------*/

    .banner-info h1 {
        font-size: 35px;
    }

    .contacto-mapa-form .mapa h2 {
        font-size: 25px;
    }

    .contacto-mapa-form .mapa iframe {
        width: 250px;
        height: 200px;
    }

    .contacto-mapa-form .formulario {
        width: 250px;
    }

    .contacto-mapa-form .formulario h2 {
        font-size: 25px;
    }
}